<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.axellageraldinc.smartalarm"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Permission to start Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoooo"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".BackgroundService" />

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".TambahBelOtomatis.SettingAlarm" />

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver
            android:name=".Receiver.DeviceBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Parent activity name untuk point parent activity nya waktu di klik tombol back navigation -->
        <activity
            android:name=".Menu.MenuSetting"
            android:parentActivityName=".HomeScreen" />
        <activity android:name=".ModifyAlarm" />
        <activity android:name=".TambahBelOtomatis.ModelSettingAlarm" />
        <activity android:name=".ListViewBelManual.ManualAlarm" />
        <activity android:name=".ListViewBelOtomatis.ListActivity" />
        <activity android:name=".TambahBelManual.AddManualAlarm" />
        <activity android:name=".ModifyBelManual" />
        <activity android:name=".CustomRepeat" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".About"></activity>
    </application>

</manifest>